
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.couleur{
    width: 200px;
    border-radius: 5px;
}


#canvas{
    border: 5px;
    border-color: black;
}